# 통계 스터디 Quiz

- 일시: 2023.12.01(금) 19:00
- 범위: 3장
- 출제: 이우진

In [1]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np
from scipy import stats
import pickle

Mounted at /content/drive

In [2]:
with open('/content/drive/MyDrive/chapter_3.pkl', 'rb') as file:
    chapter_3 = pickle.load(file)

quiz_2_data = chapter_3['quiz_2']
quiz_3_data = chapter_3['quiz_3']

---

### 1.

연 2회 시행되고 만점이 100점인 자격증 시험이 있다.

- 1회차 시험의 성적 자료는 평균 70점, 표준편차 10점의 정규분포를 따른다.
- 2회차 시험의 성적 자료는 평균 60점, 표준편차 15점의 정규분포를 따른다.

#### (1)

Z점수는 해당 회차의 모집단에 대해 정규화한 점수를 의미한다. 각 회차에서 만점자의 Z점수를 구하시오.

In [4]:
answers = {
    '1회자 만점자 Z점수': (70-65)/10,
    '2회자 만점자 Z점수': (60-65)/15
}

for key, value in answers.items():
    print(f"{key}: {round(value, 3)}")

1회자 만점자 Z점수: 0.5
2회자 만점자 Z점수: -0.333

#### (2)

각 회차에서 60점 이상을 기록할 확률을 구하시오.

In [7]:
#확률계산은 stats.norm.cdf를 사용하고, (몇 점 , 평균값, 표준편차)를 이용하여 구한다.
#어떤 코드를 사용할지 알려주면 좋을듯! 미리

prob1 = stats.norm.cdf(60,70,10)
prob2 = stats.norm.cdf(60,60,15)

answers = {
    '1회차 확률':prob1,
    '2회차 확률':prob2
}

for key, value in answers.items():
    print(f"{key}: {round(value, 3)}")

1회차 확률: 0.159
2회차 확률: 0.5

#### (3)

상위 20%에 해당하는 응시자만 합격이라고 할 때, 각 회차의 합격 기준 점수를 구하시오.

In [ ]:
#표준정규분포 이용해서 z값으로 상위 20%의 값을 찾는 건지?


answers = {
    '1회차 합격 기준 점수': ,
    '2회차 합격 기준 점수':
}

for key, value in answers.items():
    print(f"{key}: {round(value, 2)}점")

---

### 2.

어떤 IT 기업에서 채용을 위한 코딩테스트를 진행했다. 이 기업의 인사 팀은 응시자의 MBTI 중 '사고(T)'의 비율과 코딩테스트 점수 간의 관계를 분석하는 프로젝트를 시행하고자 한다.

In [ ]:
quiz_2_data

     사고(T) 비율         점수
0    0.051380  58.027610
1    0.284721  58.694412
2    0.500000  72.000000
3    0.500000  69.000000
4    0.101264  70.025271
..        ...        ...
295  0.500000  71.000000
296  0.500000  88.000000
297  0.500000  89.000000
298  0.500000  71.000000
299  0.262774  59.255490

[300 rows x 2 columns]

#### (1)

응시자의 사고 비율과 코딩테스트 점수 사이의 공분산을 구하시오.

In [9]:
answer = np.cov(quiz_2_data['사고(T) 비율'], quiz_2_data['점수'])[0,1]

print(f"공분산: {np.round(answer, 3)}")

공분산: 0.942

#### (2)

응시자의 사고 비율과 코딩테스트 점수 사이의 피어슨 상관계수를 구하시오.

In [31]:
from scipy.stats import pearsonr #scipy.stats의 피어슨 상관계수 사용방법, [0]을 하지않으면 유의확률값까지 같이 나옴

answer = pearsonr(quiz_2_data['사고(T) 비율'],quiz_2_data['점수'])[0]

print(f"피어슨 상관계수: {np.round(answer, 3)}")

피어슨 상관계수: 0.436

---

### 3.

IT 취준생 100명에게 Python과 Java 사용 여부에 대한 설문을 진행한 결과가 다음과 같다.

In [ ]:
quiz_3_data

   Python Java
0       X    O
1       X    O
2       X    O
3       O    X
4       X    O
..    ...  ...
95      O    O
96      O    O
97      X    O
98      X    O
99      O    X

[100 rows x 2 columns]

#### (1)

설문에 참여한 취준생 중 임의로 선택한 한 명이 Python을 사용하면서 Java는 사용하지 않을 확률을 구하시오.

Python  Java
O       O       0.33
        X       0.40
X       O       0.24
        X       0.03
dtype: float64

In [20]:
#조건부확률 문제?
#Python으로 먼저 그룹화하여, Java를 택한 사람의 사이즈를 볼 수 있다. 그리고 quiz_3_data의 전체 갯수로 나누어 비율을 구한다.

answer = quiz_3_data.groupby(['Python','Java']).size().div(len(quiz_3_data))[1]

print(f"확률: {np.round(answer, 3)}")

확률: 0.4

#### (2)

설문에 참여한 취준생 중 임의로 선택한 한 명이 Python을 사용하는 사람일 때, Java를 사용하지 않을 확률을 구하시오.

In [30]:
python = len(quiz_3_data[quiz_3_data['Python']=='O'])
jp = len(quiz_3_data[(quiz_3_data['Python']=='O') & (quiz_3_data['Java']=='X')])

answer = jp/python

print(f"확률: {np.round(answer, 3)}")

확률: 0.548